body {
  margin: 1em;
  top: 10px;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #7B5449;
  background-color: #E8E8E8;
  justify-content: center;
}


#card {
  top: 20px;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(232, 232, 232, 1)
;
  overflow: hidden;
}

.BackButton {
        background-color: White;
        background-image: url("./../images/back.png");
        background-size: cover;
        background-position: center;
        border: none;
        padding: 5px;
        display: inline-block;
        margin: 1px 1px;
        cursor: pointer;
        border-radius: 50%;
        position: fixed;
        top: 5%;
        left: 5%;
        width: 40px;
        height: 40px;
        /*display: flex;*/
        justify-content: center;
        align-items: center;
        z-index: 99995;
        transition: all 0.5s;
        cursor: pointer;
      }

model-viewer {
  width: 100%;
  height: 60vh;
  place-items: center;
  background-color: #E8E8E8;
  overflow-x: hidden;
  --poster-color: #E8E8E8;
}


.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  height: 10em;
}

.attribution h1 {
  margin: 0 0 0.25em;
}

.attribution img {
  opacity: 0.5;
  height: 5vh;
  margin: 7vh;
}

.attribution .cc {
  flex-shrink: 0;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin: auto;
  text-align: center;
  font-style: italic;
  line-height: 1.5em;
}

     :not(:defined) > * {
        display: none;
      }


      #ar-button {
        background-image: url("https://guide1.ivyro.net/oceanbreeze/AR/image/logo.png");
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: 16px 50%;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        bottom: 30vh;
        padding: 0px 16px 0px 50px;
        font-family: "Pretendard";
        src: url("https://guide1.ivyro.net/oceanbreeze/AR/font/Pretendard-Regular.otf") format("ttf");
        font-size: 26px;
        color: #7b5449;
        height: 36px;
        line-height: 36px;
        border-radius: 18px;
        border: 1px solid #DADCE0;
      }

      #ar-button:active {
        background-color: #7b5449;
      }

      #ar-button:focus {
        outline: none;
      }

      #ar-button:focus-visible {
        outline: 1px solid #7b5449;
      }

      @keyframes circle {
        from {
          transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
        }
        to {
          transform: translateX(-50%) rotate(360deg) translateX(50px)
            rotate(-360deg);
        }
      }

      @keyframes elongate {
        from {
          transform: translateX(100px);
        }
        to {
          transform: translateX(-100px);
        }
      }

      model-viewer > #ar-prompt {
        position: absolute;
        left: 50%;
        bottom: 15px;
        animation: elongate 2s infinite ease-in-out alternate;
        display: none;
      }

      model-viewer[ar-status="session-started"] > #ar-prompt {
        display: block;
      }

      model-viewer > #ar-prompt > img {
        animation: circle 4s linear infinite;
      }
       model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
  }

  model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
  }

      .slider {
        width: 100%;
        margin: 3px;
        text-align: center;
        overflow: hidden;
        position: absolute;
        bottom:15vh;
        justify-content: center;
      }

      .slides {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        justify-content: center;
      }

      .slide {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #bebebe;
        margin-right: 10px;
        border-radius: 10px;
        border: none;
        display: flex;
      }

      .slide.selected {
        border: 2px solid #000000;
      }

      .slide:focus {
        outline: none;
      }

      .slide:focus-visible {
        outline: 1px solid #ffffff;
      }


